@use '../variables.scss' as vars;

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

#infos-1,
#infos-2,
#infos-3 {
  font-family: sans-serif;
  position: relative;
}



/* INFOS 2 */
#infos-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: linear-gradient(#70B6F1, #E9F1F5);
  height: 100vh;
}

#infos-2>div {
width: 920px;
height: 80%;
border-radius: 50px;
z-index: 1;
background-color: vars.$infos-2-bg-color;
}

#infos-2>div>div {
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
width: 100%;
height: 100%;
border-radius: 50px;
position: relative;

}

.price-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 280px;
  height: 345px;
  border-radius: 7%;
  padding: 1.5rem;
  position: relative;
}


#prediction-container {
  background-image: linear-gradient(#FFB338, #FFE669);
  transform: rotate(-2deg);
  box-shadow: 0px 4px #ffb835;
  color: #280D5F;
  opacity: 1;
}


#lottery-container {
  background-image: linear-gradient(#7544D8, #5222B2);
  transform: rotate(2deg);
  box-shadow: 0px 4px #3c05aa;
  color: white;
}


.price-box>img {
  width: 35px;
  height: 35px;
  align-self: flex-end;
}

.price-box>button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  gap: 0.5rem;
  appearance: none;
  border: none;
  border-radius: 10px;
  background-color: vars.$price-box-bg-color;
  width: 90%;
  height: 40px;
  color: white;
  box-shadow: 0px 2px vars.$price-box-shadow;
  font-weight: bold;
  font-size: vars.$infos-2-button-font-size;
}

.price-box>button:hover {
  opacity: 0.7;
  transition: 0.3s;
  cursor: pointer;
}

.price {
  font-size: vars.$price-font-size;
  font-weight: bold;
  margin: 8px 0;
}

#prediction-container>span.price {
  color: #280D5F;
}

#lottery-container>span.price {
  color: #FEC713;
}

.price-box>h3 {
  font-size: 0.95rem;
}

.price-box > p {
  line-height: 25px;
}

#prediction-container>h3 {
  color: #280D5F;
}

#lottery-container>h3 {
  color: white;
}



.price-description {
  font-weight: bold;
  flex: 0.3 0 10%;
}

.price-description + p {
  flex: 0.5;
  font-weight: normal;
}

#infos-cards-flex {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

#infos-2-win {
  color: vars.$infos-2-win;
}

#infos-2-title {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: space-evenly;
}

#infos-2-title>h2 {
  font-size: 2.1rem;
}

#infos-2-subtitle {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.5rem;
  margin-top: 5px;
  color: #7A6EAA;
  font-size: 0.9rem;
}

.lott-balls, .pred-cards {
  position: absolute;
}

.infos-blurry-img {
  filter: blur(8px);
}

#lott-ball-1 {
  top: 0px;
  right: 0px;
  width: 512px;
  animation: 3s ease-in-out 1s infinite normal none running lott-ball-anim-1;
  z-index: 1;
}

#lott-ball-2 {
  right: 0px;
  top: 0px;
  width: 510px;
  z-index: 2;
  animation: 3s ease-in-out 2s infinite normal none running lott-ball-anim-2;
}

#lott-ball-3 {
  left: 64.2%;
  top: 2%;
  width: 500px;
  z-index: 1;
  animation: 3s ease-in-out 2s infinite normal none running lott-ball-anim-3;
}

#lott-ball-4 {
  width: 400px;
  right: 3%;
  top: 13%;
  z-index: 1;
  animation: 3s ease-in-out 2s infinite normal none running lott-ball-anim-4;
}

#lott-ball-5 {
  width: 500px;
  right: 3%;
  top: 0%;
  z-index: 1;
  animation: 3s ease-in-out 2s infinite normal none running lott-ball-anim-5;
}

#pred-card-1 {
  width: 500px;
  left: 0%;
  top: 35%;
  animation: 3s ease-in-out 1.5s infinite normal none running pred-card-anim-1;
  z-index: 1;
}

#pred-card-2 {
  width: 500px;
  left: 0%;
  top: 30%;
  animation: 3s ease-in-out 2s infinite normal none running pred-card-anim-2;
  z-index: 1;
}

#pred-card-3 {
  width: 500px;
  left: 0%;
  top: 30%;
  animation: 3s ease-in-out 1s infinite normal none running pred-card-anim-2;
  z-index: 0;
}

#pred-card-4 {
  width: 500px;
  left: 2%;
  top: 35%;
  animation: 3s ease-in-out 2s infinite normal none running pred-card-anim-2;
  z-index: 1;
}

@import url('./infos-anims.css');

/* INFOS 3 */
#infos-3>div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  background-color: #FAF9FA;
}

#infos-3>div>div {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
}

.infos-3-data-box {
  border-left: 1px solid rgb(207, 193, 235);
  width: 300px;
  height: 50px;
  padding-left: 15px;
}

.infos-3-data-box:nth-child(1),
.infos-3-data-box:nth-child(4) {
  border: none;
}

.infos-3-data-box>h4 {
  color: #7a6eaa;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 7px;
}

.infos-3-data-box>p {
  color: #280D5F;
  font-weight: bold;
  font-size: 1.5rem;
}

@media screen and (max-width: 900px) {
  #infos-3>div>div {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
  }

  .infos-3-data-box:nth-child(odd) {
    border: none;
  }

  .infos-3-data-box:nth-child(4) {
    border-left: 1px solid rgb(207, 193, 235);
  }
}