#footer {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: #27262C;

    img {
        align-self: flex-start;
        justify-self: flex-end;
    }

    div {

        &:not(#social-media) {
            margin-top: 35px;
            padding-top: 20px;
        }

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 4rem;
        width: 85%;
        height: 290px;

        ul:not(#telegram-submenu) {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 1rem;
            align-items: flex-start;

            li:first-child {
                color: #9a6aff;
                font-weight: bold;
                font-size: 18px;
            }

            li:not(li:first-child) {
                font-weight: lighter;
            }
        }

        ul:not(#social-media > ul, #telegram-submenu):first-child {
            li:nth-child(2) {
                a {
                    color: #ffb237;
                }
            }
        }

        li {
            a {
                font-size: 15px;
                color: white;

                &:hover {
                    text-decoration: underline 1px;
                }
            }
        }
    }

    #social-media {
        border-bottom: 1px solid #383241;
        width: 80vw;
        height: 60px;
        grid-column: span 4;

        ul:not(#telegram-submenu) {
            display: flex;
            flex-direction: row;

            li {
                a {
                    img {
                        margin-right: 10px;
                    }
                }
            }
        }
    }

    #telegram {
        position: relative;
        right: 3px;
    }

    #telegram:hover {
        cursor: pointer;


        #telegram-submenu {
            display: flex !important;
            flex-direction: column;
            gap: 0.7rem;
            overflow-y: scroll;
        }

    }

    #telegram-submenu {
        z-index: 5;
        position: absolute;
        display: none;
        width: 162px;
        height: 385px;
        border-radius: 5px;
        background-color: #27262C;
        padding: 15px;
        bottom: 25px;
        left: -60px;

        a {
            font-size: 14px;
            font-weight: bold;
            color: #b8add2;
        }
    }
}

#footer-bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 170px;
    background-color: #27262C;

    #checkbox-container {
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
        justify-content: flex-start;
        align-items: center;
        padding: 10px 0;
        width: 85%;
        margin-top: 20px;
    }
}

#theme-selection {
    visibility: hidden;
    background: url("../assets/icons/theme-btn-sun.svg");
}

#footer-logo {
    position: relative;
    right: 50px;
}

#footer-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    position: relative;

    button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 0.3rem;
        appearance: none;
        border: none;
        width: 138px;
        height: 32px;
        border-radius: 20px;
        background-color: #1FC7D4;

        p {
            justify-self: flex-start;
            color: white;
            flex: 0.7;
        }

        &:hover {
            cursor: pointer;
            opacity: 0.6;
            transition: 0.3s;
        }
    }
}