@import url('../animations.scss');

#footer-lang {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    flex: 0.92;
    position: relative;

    #lang-icons-wrapper {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        height: 105%;

        svg {
            fill: #b8add2;
        }

        p {
            color: #b8add2;
            font-size: 14px;
            margin-top: 5px;
            display: inline;
        }

        &:hover {
            cursor: pointer;
            p,
            svg {
                opacity: 0.6;
                transition: 0.3s;
            }

            #footer-langs {
                display: flex;
                animation: fadeIn ease-in 0.3s;
            }
        }
    }

    #footer-langs {
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        bottom: 50px;
        left: -22px;
        width: 188px;
        height: 400px;
        background-color: #27262C;
        overflow-y: scroll;
        border-radius: 4px;
        padding: 15px;

        button {
            color: #f4eeff;
            appearance: none;
            border: none;
            background-color: #27262C;
            width: 158px;
            min-height: 32px;
            font-size: 15px;
            font-weight: bold;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;


            &:hover {
                opacity: 0.6;
                transition: 0.3s;
                cursor: pointer;
            }
        }
    }
}