@keyframes lott-ball-anim-1 {
    0% {
        transform: translate(0px, 0px);
    }

    50% {
        transform: translate(-4px, -20px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

@keyframes lott-ball-anim-2 {
    0% {
        transform: translate(0px, 0px);
    }

    50% {
        transform: translate(5px, 20px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

@keyframes lott-ball-anim-3 {
    0% {
        transform: translate(0px, 0px);
    }

    50% {
        transform: translate(5px, 8px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

@keyframes lott-ball-anim-4 {
    0% {
        transform: translate(0px, 0px);
    }

    50% {
        transform: translate(8px, 2px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

@keyframes lott-ball-anim-5 {
    0% {
        transform: translate(0px, 0px);
    }

    50% {
        transform: translate(8px, 2px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

@keyframes pred-card-anim-1 {
    0% {
        transform: translate(0px, 0px);
    }

    50% {
        transform: translate(8px, 8px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

@keyframes pred-card-anim-2 {
    0% {
        transform: translate(0px, 0px);
    }

    50% {
        transform: translate(5px, 5px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

@keyframes pred-card-anim-2 {
    0% {
        transform: translate(0px, 0px);
    }

    50% {
        transform: translate(2px, 8px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}